<div class="storage-container">

  @if (loading) {
    <div class="loading">
        <span class="spinner"></span> Loading...
    </div>
    }
@else {
  <h3 class="total-storage">Total Storage Used: {{ totalStorageInGB | number:'1.7-7' }} GB</h3>

  <h4 class="section-title">Storage Usage by Users:</h4>
  <table class="storage-table">
      <thead>
          <tr>
              <th>Username</th>
              <th>Email</th>
              <th>Storage Used (MB)</th>
          </tr>
      </thead>
      <tbody>
          @for(user of users; track user.id) {
          <tr>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.storageUsed | number:'1.2-2' }}</td>
          </tr>
          }
      </tbody>
  </table>
}
</div>