<nav class="navbar">
  <div class="navbar-container">
    <div class="logo">
      <img src="assets/proFitLogo.png" alt="Profit Logo" />
    </div>
    @if (isLoggedIn) {
    <ul class="nav-links">
      <button mat-button class="nav-item" [routerLink]="['/users']">
        Users
      </button>
      <li><a href="#" class="nav-item">Home</a></li>
      <button mat-button class="nav-item" [routerLink]="['/files/storage']">
        Storage
      </button>
    </ul>
    }
    <div class="auth-buttons">
      @if (isLoggedIn) {
      <button mat-button class="btn login-btn" [routerLink]="['/']" (click)="logout()">
        Logout
      </button>
      }
      @else{
      <button mat-button class="btn login-btn" [routerLink]="['/login']">
        Login
      </button>
      }
    </div>
  </div>
</nav>