/* Navbar.css */

.navbar {
  /* background-color: #3f51b5;  */
  color:white;
}

.nav-button {
  color: white !important; 
  margin-left: 16px;
  transition: background-color 0.3s; 
}

/* .nav-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.logout-button {
  background-color: #f44336;
}

.logout-button:hover {
  background-color: rgba(255, 0, 0, 0.7); 
} */
